<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="form-container">
        <h1>URL shortener</h1>
        <form action="/" method="POST">
            <div class="input-group">
                <label for="url">Enter URL to Shorten:</label>
                <input type="url" id="url" name="URL" required>
                <button type="submit">Shorten</button>
            </div>
            <% if (locals.shortUrl){ %>
                <div class="input-group">
                    <input type="text" id="shortened-url" value="<%= shortUrl %>" readonly>
                    <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                </div>
            <% } %>
        </form>
    </div>


    <script src="script.js"></script>
</body>
</html>